.container {
   
    text-align: center;
    font-weight: bold;

    .txt-date {
        letter-spacing: 5px;
        font-size: 30px;
        margin-bottom: 8px;
    }
    .txt-day {
        letter-spacing: 1px;
        font-size: 20px;
    }
}